@model Envelope 

@{
    ViewData["Title"] = "Oops - Document has been already signed";
}

<section id="home" class="container section">

    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <div class="card">
                <div class="card-header">
                    Already signed
                </div>
                <div class="card-body">
                    <h5 class="card-title">The document has been already fully signed successfully.</h5>
                    <p class="card-text">An executed document envelope cannot be signed again.</p>
                </div>
            </div>

        </div>
    </div>

</section>