@model ThanksModel 

@{
    ViewData["Title"] = "Thanks";
}

<section id="home" class="container section">

    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <div class="card">
                <div class="card-header">
                    Thanks
                </div>
                <div class="card-body">
                    <h5 class="card-title">The document has been signed successfully.</h5>
                    <p class="card-text">The signed document has been sent to your registered e-mail address:</p>
                    <p class="card-text"><em>@Model.Signer.Email</em></p>
                </div>
            </div>

        </div>
    </div>

</section>