@{
    ViewData["Title"] = "Create a new Envelope";
}

<section id="home" class="container section">

    <div class="row">
        <div class="col-12">

            <div id="uploadbox" class="esign-uploadbox">
                <div class="innerbox" ondrop="TextControl.esign.dropHandler(event);" ondragover="TextControl.esign.dragOverHandler(event);">
                    <div>
                        <img src="~/images/add-document.svg" />
                        <p>Drop a document to get started</p>

                        <input onchange="TextControl.esign.addFile(this.files)" type="file" id="files" class="prevent" style="display: none;" accept=".docx, .doc, .rtf, .tx" />
                        <a onclick="files.click()" class="btn btn-warning prevent"><strong>Upload</strong></a><br />
                        <a onclick="TextControl.esign.createNew(false)" class="btn ms-sm-1 prevent mt-4 small"><strong>Create New</strong></a>
                        <a onclick="TextControl.esign.createNew(true)" class="btn ms-sm-1 prevent mt-4 small"><strong>Use Sample Document</strong></a>
                        <div class="mt-3 waitstate">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-5 d-none d-sm-block">

        <div class="col-12 text-center">
            <h1 class="jumbo">Drop any MS Word document to get started!</h1>
        </div>

    </div>

</section>