@model Envelope 

@{
    ViewData["Title"] = "Oops - Document has been already modified";
}

<section id="home" class="container section">

    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <div class="card">
                <div class="card-header">
                    Document already accepted or changed.
                </div>
                <div class="card-body">
                    <h5 class="card-title">You already accepted the document or proposed changes to the document.</h5>
                    <p class="card-text">If you want to make further changes, please contact the document owner.</p>
                </div>
            </div>

        </div>
    </div>

</section>