@{
    ViewData["Title"] = "Accelerate your Business";
}

<section id="overview" class="container hero section lines">

    <div class="row">
        <div class="col-7">
            <h1>Electronic signature workflows for your applications</h1>
            <h2>Text Control eSign Demo</h2>
            <p class="d-none d-lg-block">To showcase a typical workflow and the Text Control electronic signature technology, we published a fully functional demo that can be used to create and request signatures, sign documents and to validate executed PDF documents.</p>
            <a asp-action="index" asp-controller="new" class="btn btn-warning"><strong>Get Started</strong></a>
        </div>
        <div class="col-4">

        </div>
    </div>

</section>

<section id="overview" class="container description">

    <div class="row">
        <div class="col-md-6">
            <h2>What is this?</h2>
            <h3>This demo is a reference implementation that shows how to use Text Control technology to integrate electronic signature workflows into business applications.</h3>
            <h3>Use this demo to learn how to add electronic signature processes to your applications and learn what is possible using Text Control <a target="_blank" href="https://www.textcontrol.com">document processing libraries</a>.</h3>
            <h3>Ready to talk?</h3>
            <a target="_blank" href="https://www.textcontrol.com/contact/email/general/" class="btn btn-outline-primary"><strong>Contact Us</strong></a>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <img class="outside" src="~/images/overview_1.png" />
        </div>
    </div>

</section>

<section id="overview" class="container description">

    <div class="row">

        <div class="col-md-6">
            <img class="outside left mt-3 mt-md-0 mb-3 mb-md-0" src="~/images/overview_2.png" />
        </div>

        <div class="col-md-6">
            <h2>Fully-featured document editor</h2>
            <h3>Provide your users a fully-featured document editor to prepare documents for the signature process including adding signature boxes to MS Word documents.</h3>
            <h3>A new document signing process can be started by uploading any MS Word RTF, DOC or DOCX document.</h3>
        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">
        <div class="col-md-6">
            <h2>Mobile-friendly document signing</h2>
            <h3>After the recipient received an e-mail requesting a signature, the document can be signed online using any browser or device.</h3>
            
            <h3>The signature soft-pad has been designed to work with any mobile device to provide full flexibility in your document processing workflows.</h3>
            
            <h3>Signatures are simplified with an efficient line smoothing algorithm. Lines are captured as vectors, stored in arrays and finally de-noised and simplified in a post-process.</h3>
        </div>
        <div class="col-md-6">
            <img class="outside mt-3 mt-md-0" src="~/images/overview_4.png" />
        </div>
    </div>

</section>

<section id="overview" class="container description">

    <div class="row">

        <div class="col-md-6">
            <img class="outside left mt-3 mt-md-0 mb-3 mb-md-0" src="~/images/overview_6.png" />
        </div>

        <div class="col-md-6">
            <h2>Complete MS Word compatible forms</h2>
            <h3>Text Control eSign supports form elements such as text boxes, checkboxes, drop-downs and date pickers. These forms can be fully designed using the editor or imported from MS Word documents.</h3>

            <h3>The completed form data is merged into the resulting document after a successful merge. Using TX Text Control, the form data can be extracted from generated documents.</h3>

        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">

        <div class="col-md-6">
            <h2>Validating documents</h2>
            <h3>By uploading an executed, fully signed PDF document, the integrity and validity can be checked. Therefore, the uploaded document is compared to the originally stored, signed document.</h3>
            <h3>Both the original document and the signed document are stored in a database. When validating an executed, signed document, the uploaded document is compared with the originally stored version using cryptographic hash functions producing 128-bit values.</h3>
        </div>

        <div class="col-md-6">
            <img class="outside mt-3 mt-md-0" src="~/images/overview_5.png" />
        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">
        
        <div class="col-md-6">
            <img class="outside left mt-3 mt-md-0 mb-3 mb-md-0" src="~/images/overview_3.png" />
        </div>

        <div class="col-md-6">
            <h2>Document signature audit trail</h2>
            <h3>A detailed document signature audit trail can be reviewed by opening the envelope details. The signature trail shows a complete trail of actions and can be used to verify the signature process.</h3>
        </div>
    </div>

</section>

<section id="overview" class="container description">

    <div class="row">

        <div class="col-md-6">
            <h2>Document Collaboration</h2>
            <h3>Integrate document collaboration into your signature processes. Send documents to signers for review and collaboration. Using "red lining" or "track changes", changes are tracked and processed until the document satisfies all requirements.</h3>
        </div>

        <div class="col-md-6">
            <img class="outside mt-3 mt-md-0" src="~/images/overview_7.png" />
        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid mt-3 mt-md-0 mb-3 mb-md-0" src="~/images/circle.svg" />
        </div>

        <div class="col-md-6">
            <h2>Contract Workflow Management</h2>
            <h3>Legacy, paper-based contract processes are slow, expensive and error-prone. Automate these collaboration processes, speed up the complete document workflow and reduce costs and errors by implementing smart document processing technologies.
            </h3>
        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">

        <div class="col-md-6">
            <h2>On-premises:<br />Keep your data</h2>
            <h3>The integration of digital document processing solutions including collaboration, document sharing and electronic signature processes help successful companies to serve their customers and support business continuity.</h3>
            <h3>Integrate document signing processes into your applications written in C# ASP.NET Core, Angular or JavaScript. Keep your data and store your sensitive documents on your controlled servers.</h3>

        </div>

        <div class="col-md-6">
            <img class="img-fluid mt-3 mt-md-0" src="~/images/security.svg" />
        </div>

    </div>

</section>

<section id="overview" class="container description">

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid mt-3 mt-md-0 mb-3 mb-md-0" src="~/images/legal.svg" />
        </div>

        <div class="col-md-6">
            <h2>Legality guide</h2>
            <h3>Electronic signatures are widely recognized as legally binding in the world. Introducing electronic signature processes help in many areas including efficiency, saving costs and environmental aspects.</h3>
            <h3>The United States has legally recognized electronic signatures since 2000 with the ESIGN Act (Electronic Signatures in Global and National Commerce Act) and the UETA act (Uniform Electronic Transaction Act) in 1999. These acts ensure the validity of electronic signatures in the United States.</h3>
            <a target="_blank" href="https://www.textcontrol.com/blog/2021/03/10/electronic-signature-legality-guide/" class="btn btn-outline-primary"><strong>Learn More</strong></a>
        </div>

    </div>

</section>

<section id="overview" class="container hero section">

    <div class="row">
        <div class="col-12 text-center">
            <h1>Accelerate your document workflows with Text Control eSign.</h1>
            <h2>Contact our engineers</h2>
            <a target="_blank" href="https://www.textcontrol.com/contact/email/general/" class="btn btn-warning"><strong>Contact Us</strong></a>
        </div>
        <div class="col-4">

        </div>
    </div>

</section>