@model List<Template>

@{
    ViewData["Title"] = "Template Overview";
}

<section id="home" class="container section">

    <a asp-action="create" asp-controller="template" class="btn btn-warning mb-3"><strong>New Template</strong></a>

    <h1>Templates</h1>

    <div class="row">
        <div class="col-12">
            <div>
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">Subject</th>
                            <th class="align-middle" scope="col">Created</th>
                            <th class="align-middle" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in @Model) {
                            <tr>
                                <th class="align-middle" scope="row">
                                    <a asp-controller="template" asp-action="summary" asp-route-id="@template.TemplateID">@template.Name</a>
                                </th>
                                
                                <td class="align-middle">@template.Created</td>
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <a asp-controller="template" asp-action="summary" asp-route-id="@template.TemplateID" class="btn btn-primary">Summary</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

